<h1>About Me</h1>
<p>Welcome to the About page. Here is a little about me and some photos and videos that represent my journey.</p>

<div>
    <img src="/images/me.jpg" alt="My Picture" width="300">
    <video src="/videos/fireworks.mp4" controls width="300" height="500"></video>
    <img src="/images/poster.jpg" alt="Poster" width="300">
</div>
